@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
    background: rgb(209,186,18);
    background: linear-gradient(90deg, rgba(209,186,18,0.7525210767900911) 16%, rgba(255,255,255,0.75) 48%, rgba(61,94,153,0.7525210767900911) 79%);
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
/*
h1{
    font-weight: 700;
    background: rgba(255, 255, 255,0.1);
    border-radius: 10px;
}
h2{
    font-weight: 600;
    background: rgba(255, 255, 255,0.1);
    border-radius: 10px;
}
p, img {
    background: rgba(255, 255, 255,0.1);
    border-radius: 10px;
}
*/

h1 {
    font-weight: 500;
}
h2 {
    font-weight: 400;
}

